{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="welcome-area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-xl-8">
        <div class="welcome-content text-center">
          <h2 data-aos="fade-up" data-aos-duration="750" data-aos-delay="300">Content Recommendations</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="discover-nft-wrapper bg-gray pt-120 pb-120">
  <div class="container">
    <div class="section-heading">
      <h2 class="mb-0">Welcome Back</h2>
    </div>
   
  </div>
  <div class="divider"></div>
  <!-- Discover Filter Options-->
  <div class="container">
    <div class="row g-4 justify-content-center" id="target-list-change">
      {% include 'movies/snippet/list.html' with object_list=object_list %}
      <!-- Pagination  -->
    </div>
  </div>
</div>
<div class="divider"></div>

{% endblock %}