{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="breadcrumb-content">
          <h2 class="breadcrumb-title">Sign Out</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Sign Out</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="register-area">
      <div class="container">
        <div class="row g-4 g-lg-5 align-items-center justify-content-between">
          <div class="col-12 col-md-6 col-xl-5">
            <div class="register-card">
              <div class="register-form mt-5">
                {% element h1 %}
                  {% trans "Sign Out" %}
                {% endelement %}
                <p>{% trans 'Are you sure you want to sign out?' %}</p>
                {% url 'account_logout' as action_url %}
                {% element form method="post" action=action_url no_visible_fields=True %}
                    {% slot body %}
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                  name="{{ redirect_field_name }}"
                                  value="{{ redirect_field_value }}" />
                        {% endif %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" %}
                            {% trans 'Sign Out' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
              </div>
            </div>
          </div>
          <!-- Thumbnail -->
          <div class="col-12 col-md-6">
            <div class="register-thumbnail mt-5 mt-md-0"><img src="{% static 'img/illustrator/4.png' %}" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- Register -->
{% endblock content %} 