{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %} 
{% block content %}
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="breadcrumb-content">
          <h2 class="breadcrumb-title">Change Password</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="register-area">
      <div class="container">
        <div class="row g-4 g-lg-5 align-items-center justify-content-between">
          <div class="col-12 col-md-6 col-xl-5">
            <div class="register-card">
              <div class="register-form mt-5">
                {% url 'account_change_password' as action_url %}
                {% element form form=form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" %}
                            {% trans "Change Password" %}
                        {% endelement %}
                        {% comment %} <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> {% endcomment %}
                    {% endslot %}
                {% endelement %}
              </div>
            </div>
          </div>
          <!-- Thumbnail -->
          <div class="col-12 col-md-6">
            <div class="register-thumbnail mt-5 mt-md-0"><img src="{% static 'img/illustrator/4.png' %}" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <!-- Register -->
{% endblock content %}